/*
 Theme Name:   Firenze testo Child
 Description:  Firenze testo Child Theme
 Author:       Ecommerce Therapy
 Template:     twentytwenty
 Version:      1.0.0
 Text Domain:  firenzetestochild
*/


/* Font */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:200,400,700&display=swap');
@font-face {
  font-family: 'testo regular';
  src: url('fonts/TESTOLogofont-Regular.eot');
  src: url('fonts/TESTOLogofont-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/TESTOLogofont-Regular.woff2') format('woff2'), url('fonts/TESTOLogofont-Regular.woff') format('woff'), url('fonts/TESTOLogofont-Regular.ttf') format('truetype'), url('fonts/TESTOLogofont-Regular.svg#TESTO Logofont') format('svg');
}
@font-face {
  font-family: 'testo semibold';
  src: url('fonts/TESTOLogofont-SemiBold.eot');
  src: url('fonts/TESTOLogofont-SemiBold.eot?#iefix') format('embedded-opentype'), url('fonts/TESTOLogofont-SemiBold.woff2') format('woff2'), url('fonts/TESTOLogofont-SemiBold.woff') format('woff'), url('fonts/TESTOLogofont-SemiBold.ttf') format('truetype'), url('fonts/TESTOLogofont-SemiBold.svg#TESTO Logofont') format('svg');
}
@font-face {
  font-family: 'testo minion-pro';
  src: url('fonts/MinionPro-Semibold.otf');
}

/* body */
body { background: #F2F2F2; }
body.page-id-21{ background-color: #1D1D1B!important; }

/* Sovrascrittura classi tema */
.entry-header { display: none; }
button { outline: none; }
.menu-modal nav * {border: none;}
.entry-content>*:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {max-width: 100%;min-height: 100%;width: calc(100% - 0rem);margin: 0px;opacity: 1;}
.post-inner {padding: 0px;}
.button-parallax-cont .wpb_wrapper {display: flex;}
.footer-link {display: flex;}
.cont-footer {display: flex;}
a{text-decoration: none;}


/**********************************
***********************************
HEADER  
***********************************
**********************************/

/*  Punti Verticali  */
#site-content .vertical-dot {
  height: 100%;
  position: fixed;
  width: 4px;
  top: 0px;
  left: 80px;

}
/* Header Generico colore */
header.darkHeader{
  background-color: #1D1D1B!important;
	position: fixed!important;
	width: 100%!important;
	top:0!important;
	z-index: 999!important;
}



/* Header Custom Homepage */
.page-id-21 header#site-header {
  background: transparent;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  position: absolute;
  /*top: 10px;*/
  width: 100%;
  height: 9%;
}

/* Header Generico/Customo Colore Voce "Menu"*/
#site-header .primary-color{
  color: #EC6A1B;
}

/** Impostazioni Generiche Header Right */
#header-widget-area1, #header-widget-area2, #header-widget-area3 {
  display: inline-block;
  margin: 0 20px;
  color: #fffffF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

/***  Header Right - Pulsante Partecipa ***/
.button-partecipa {
  padding: 15px 20px;
  text-decoration: none;
  color: #161615;
  background: #EC6A1B;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

/***  Header Right - Border Bottom Lingua corrente ***/
.wpml-ls-current-language .wpml-ls-native {
  border-bottom: 2px solid #FFED00;
}

/**********************************
***********************************
MENU
***********************************
**********************************/

/***  Impostazioni Menu Laterale ***/
.menu-modal .menu-modal-inner {
  position: fixed;
  height: 100%;
  left: 0px;
  transition: transform 0.1s ease-in, opacity 0.2s ease-in;
  transform: translateX(0);
  font-family: 'testo regular';
  background-color: #EC6A1B;
}

/***  Impostazioni singole voci di menu ***/
.modal-menu>li>.ancestor-wrapper>a,
.modal-menu a:focus,
.modal-menu a:hover,
.modal-menu li.current-menu-item>.ancestor-wrapper>a,
.modal-menu li.current_page_ancestor>.ancestor-wrapper>a {
  color: #161615;
  text-decoration: none;
  font-size: 30px;
}

/*** Allineamento immagine logo ***/
.menu-modal .menu-top {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 60px 0 30px 0;
}

/*** Allineamento Pulsante chiudi Menu ***/
.menu-modal button.close-nav-toggle {
  display: inline-block;
  max-width: 100px;
  align-self: flex-start;
  padding: 0px;
  color: #000;
}

/*** Allineamento immagine logo ***/
.menu-modal .menu-modal-inner .menu-logo {
  display: inline-block;
  align-self: flex-end;
}

/**********************************
***********************************
APERTURA PARALLAX
***********************************
**********************************/

.page-id-21 #site-content section#info-box {
  background-position: top !important;
}
/* Titolo Principale Parallax */
.page-id-21 .title-main h1 {
  color: #EC6A1B;
  font-family: 'testo semibold';
  padding: 0px;
  margin: 0px;	
  margin-left: 30px;
  font-size: 150px;
  line-height: 150px;
}

/* Titolo Principale Parallax, Variante voce "Testo" */
/*.page-id-21 .big-title-logo { /*big-title-logo non esiste più, è stato tolto*/
  /*font-size: 200px;
  line-height: 111px;
}*/

/* Testo Principale Parallax */
.page-id-21 .text-main p{
  color: #EC6A1B;
  font-family: 'testo semibold';
}

/* Pusante programma */
#site-content .primary-button a {
  border-color: #EC6A1B;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  border-radius: 0px;
}

/* Pusante Partecipa */
#site-content .secondary-button a {
  border-color: #EC6A1B;
  font-family: 'Josefin Sans', sans-serif;
  background: #EC6A1B;
  color: #161616;
  border-radius: 0px;
}

/* Righe Parallax */
.page-id-21 #site-content .scroll-down {
  position: absolute !important;
  bottom: 0px;
  display: block;
  height: 130px;
  min-width: 100%;
  min-height: 130px;
}

/* Pulsante Scroll Down Parallax */
.page-id-21 #site-content .scroll-down a {
  transform: rotate(270deg);
  padding: 10px 10px;
  border-top: 3px solid #fff;
  margin: 0 0 0 30px;
  border-radius: 0px;
}


#site-content .primary-button a:hover,
#site-content .primary-button a:hover {
  background: #EC6A1B;
  color: #161616;
}

/**********************************
***********************************
CONTAINER CONTENUTO SITO
***********************************
**********************************/


/***  Dimensione box Contenuto principale ***/
#site-content .main-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


/**********************************
***********************************
BOX Titolo+tag e Testo
***********************************
**********************************/

/***  Tag  ***/
.header-footer-group .tag, #site-content .tag {
  margin: 0;
  padding: 0;
}
.tag p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

/***  Linea Tag  ***/
.tag p::before {
  content: " ";
  width: 20px;
  background: #ffffff;
  height: 2px;
  display: inline-flex;
  vertical-align: middle;
  margin-right: 10px;
}

/***  Titolo  ***/
.secondary-title h2 {
  font-family: 'testo semibold';
  font-size: 30px;
  color: #EC6A1B;
  padding: 15px 0;
  margin: 0px;
}

/***  Testo  ***/
.text p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  line-height: 22px;
}


/**********************************
***********************************
FOOTER
***********************************
**********************************/


/***  Impostazioni Generali Footer  ***/
footer#site-footer {
  background: #333333;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  color: #EC6A1B;
}
#site-footer .section-inner {
  display: inherit;
  font-size: 14px;
}
.footer-link a, .footer-link p {
  margin: 0 10px;
}
footer#site-footer ul li {
  list-style: none;
}

footer#site-footer a {
  color: #EC6A1B;
  text-decoration: none;
}

.footer-logo {
  max-width: 220px;
}

/***  Widget 1  ***/
.single-footer-1 {
  font-family: 'testo regular';
}

/***  Widget 2  ***/
.single-footer-4 {
  align-self: flex-end;
}

/* Partner */
.partner {
  display: inline-block;
  margin: 0 20px;
}
.partner span{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  display: block;
  font-size: 12px;
  opacity: 0.3;
}
.partner img{
  max-width: 120px;
  margin: 5px;
  display: inline;
}

/**********************************
***********************************
Mappa
***********************************
**********************************/

#box1, #box2, #box3, #box4 {
  background-color: #ffffff;
  color: #161616;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
}

.title-box-mappa {
  display: flex;
  border-bottom: 1px solid #3e3e3e;
}

.text-box-mappa p {
  padding: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.title-box-mappa span {
  margin: 0px;
  padding: 25px;
  font-family: 'testo semibold';
  font-size: 20px;
  align-self: flex-start;
  line-height: 0px;
  border-right: 1px solid #3e3e3e;
}

.title-box-mappa h2 {
  margin: 0px;
  padding: 25px 10px;
  font-family: 'testo semibold';
  font-size: 20px;
  align-self: flex-end;
  line-height: 0px;
}

/***  Codice animazione singoli punti  ***/
#Ellipse_11, #Ellipse_3, #Ellipse_16, #Ellipse_17, #Ellipse_11 >*, #Ellipse_3 >*, #Ellipse_16 >*, #Ellipse_17 >*, #cerchio1,#cerchio2,#cerchio3,#cerchio4, #cerchio1:hover,#cerchio2:hover,#cerchio3:hover,#cerchio4:hover, #box1, #box2, #box3, #box4, .cerchio1bis, .cerchio2bis, .cerchio3bis, .cerchio4bis{
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.cerchio1bis, .cerchio2bis, .cerchio3bis, .cerchio4bis{
  display: none;
  font-family: 'testo semibold';
} 
#Ellipse_11:hover, #Ellipse_3:hover, #Ellipse_16:hover, #Ellipse_17:hover{
  opacity: 0.9;
}

/**********************************
***********************************
Classi Christian
***********************************
**********************************/

.header-inner .toggle:focus .toggle-text, .header-inner .toggle:hover .toggle-text {
    text-decoration: none;
}

/*.page-id-21 .darkHeader{background-color:#1D1D1B;}*/
.page-id-21 .header-logo{display: none;}
a, .pag-int-p-info a, .pag-int-p-staz a, #comunicazione-paragrafo a, #post-703 a, .icon-contatti a, #organizzatori a{color: #000; font-weight: bold;}
a:hover, .pag-int-p-info a:hover, .pag-int-p-staz a:hover, #comunicazione-paragrafo a:hover, #post-703 a:hover, #organizzatoria a:hover{color: #000!important;}
p{text-align: justify;}

button.nav-toggle{
	font-family: 'Josefin Sans', sans-serif;
	-webkit-transition: 0.8s;
	transition: 0.8s;
	text-decoration: none!important;
}
button:hover, .nav-toggle:hover, .nav-toggle:focus, .toggle-text:hover{text-decoration: none;}
#site-header .primary-color:hover, .toggle-text:hover, footer#site-footer a:hover {
	color:#E89256!important;
	text-decoration: none;
}
.button-partecipa:hover, #site-content .secondary-button a:hover{background-color:#E89256!important;}
.punto-interr{
	font-style: normal;
	font-weight: 400!important;
	/*font-size: 155px;*/
}

#site-content .vc_custom_1579182315120, #site-content .vc_custom_1579252354998, #site-content .vc_custom_1579252713185{
   background-size: 1.8vw 1.8vw!important;
}

.pag-int-title h1, .pag-int-h2 h2, .pag-int-h3 h3, .pag-int-h4, .pag-int-h5-title-staz{
    color: #1D1D1B;
    font-family: 'testo semibold';
    padding: 0px;
    margin: 0px!important;
}

.pag-int-title h1{font-size:84px!important;}
.pag-int-h2 h2{font-size:55px!important;}
.pag-int-h3 h3{font-size:35px!important;}
.pag-int-h4 h4{font-size:32px!important;}

.pag-int-title h1:after, .pag-int-h2 h2:after{
    content: " ";
    width: 30px;
    background: #EC6A1B;
    height: 20px;
    display: block;
    vertical-align: middle;
    margin-right: 10px;
}

.pag-int-h5{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #1D1D1B;
    text-transform: uppercase;
}

.pag-int-h5-staz{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #1D1D1B;
}

.pag-int-h5:before, .pag-int-h5-staz:before{
    content: " ";
    width: 35px;
    background: #EC6A1B;
    height: 4px;
    display: inline-flex;
    vertical-align: middle;
    margin-right: 10px;
}

.pag-int-p, .pag-int-p p{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #1D1D1B;
    padding: 0px;
    margin: 0px;
    line-height: 22px;
}

.pag-int-p-info{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #777776;
    padding: 0px;
    margin: 0px;
    line-height: 22px;
}

.pag-int-p-staz p{
    font-family: 'testo semibold';
    font-weight: normal;
    font-size: 14px;
    color: #1D1D1B;
    padding: 0 0 50px 0;
    margin: 0;
}

#comunicazione-paragrafo {
    margin-top: 8rem;
}

.entry-content h4, .entry-content h5, .entry-content h6 {
    margin: 1.5rem auto 1.5rem!important;
}

/*icone*/

.flex-info{
    display: flex;
    align-items: center;
}

.icon-stazione p:before{
    content: "         ";
    background: url("/wp-content/uploads/2020/01/i-pin.svg") no-repeat;
    display: block;
    float: left;	
    width: 50px;
    height: 50px;
}

.icon-dove:before{
    content: "         ";
    background: url("/wp-content/uploads/2020/01/i-pin.svg") no-repeat;
    display: block;
    float: left;	
    width: 50px;
    height: 50px;
}
.icon-orari:before{
    content: "         ";
    background: url("/wp-content/uploads/2020/01/i-orari.svg") no-repeat;
    display: block;
    float: left;	
    width: 50px;
    height: 50px;
}
.icon-contatti:before{
    content: "         ";
    background: url("/wp-content/uploads/2020/01/i-email.svg") no-repeat;
    display: block;
    float: left;	
    width: 50px;
    height: 50px;
}
.icon-bus:before{
    content: "         ";
    background: url("/wp-content/uploads/2020/01/i-autobus.svg") no-repeat;
    display: block;
    float: left;	
    width: 50px;
    height: 95px;
}
.icon-tram:before{
    content: "         ";
    background: url("/wp-content/uploads/2020/01/i-tramvia.svg") no-repeat;
    display: block;
    float: left;	
    width: 50px;
    height: 95px;
}
.icon-treno:before{
    content: "         ";
    background: url("/wp-content/uploads/2020/01/i-treno.svg") no-repeat;
    display: block;
    float: left;	
    width: 50px;
    height: 95px;
}
.icon-auto:before{
    content: "         ";
    background: url("/wp-content/uploads/2020/01/i-auto.svg") no-repeat;
    display: block;
    float: left;	
    width: 50px;
    height: 175px;
}
.icon-aereo:before{
    content: "         ";
    background: url("/wp-content/uploads/2020/01/i-aereo.svg") no-repeat;
    display: block;
    float: left;	
    width: 50px;
    height: 95px;
}

/*********************/

.icon-dove, .icon-orari, .icon-contatti{
    font-family: 'testo semibold';
    font-weight: normal;
    font-size: 16px;
    color: #1D1D1B;
    padding: 0px;
    margin: 0px;
    line-height: 22px;
}
.icon-bus p, .icon-tram p, .icon-treno p, .icon-auto p, .icon-aereo p, .hotel-elenco p,  .icon-stazione p /*sono uguali alla classe .pag-int*/{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #1D1D1B;
    padding: 0px;
    margin: 0px;
    line-height: 22px;
}

.hotel-elenco p, .parcheggi p{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #777776;
    padding: 0px;
    margin: 0px;
    line-height: 22px;
}

.hotel-elenco p:first-child{padding-bottom: 50px;}

.hotel-elenco p strong, .parcheggi p strong{text-decoration: underline; color: #1D1D1B;} 

#slider-hotel{padding-left:30px;}

.vc-post-styling .slick-prev:before{
font: unset;
background: url("/wp-content/themes/firenzetesto_child/img/arrow-slider-info-left.svg") no-repeat!important;
/*background: #a7a7a7!important;*/
font-size: 40px;
content:""!important;
color:unset;
padding: 0px 42px !important;
-webkit-transition: 0.8s;
transition: 0.8s;
}

.vc-post-styling .slick-next:before{
font: unset;
background: url("/wp-content/themes/firenzetesto_child/img/arrow-slider-info-right.svg") no-repeat!important;
/*background: #a7a7a7!important;*/
font-size: 40px;
content:""!important;
color:unset;
padding: 0px 42px !important;
-webkit-transition: 0.8s;
transition: 0.8s;
}

.vc-post-styling .slick-prev {
    left: -35px!important;
}
.vc-post-styling .slick-next{right:10px!important;}

.footer-top-visible .footer-nav-widgets-wrapper, .footer-top-hidden #site-footer {
    margin-top: 0!important;
}

.footer-nav-widgets-wrapper{background-color: #41413F!important;}

section {padding: 0!important;}

#site-footer, .header-footer-group{position:relative; z-index:8;}

.menu-modal.active {
    position: fixed;
	z-index: 999;
}

/* header-centrato-flex */
.header-titles-wrapper, .header-logo, #header-right{
	display: flex;
	flex-basis: 33.333%;
}
.header-titles-wrapper{justify-content:flex-start; margin-right:0; max-width:unset;}
.header-logo{justify-content:center;}
#header-right{justify-content:flex-end; align-self: center;}
.page-id-21 .header-logo img{ margin: 0 auto!important; margin-top: -4%!important;}
#box1:hover, #box2:hover, #box3:hover, #box4:hover, #Ellipse_3:hover, #Ellipse_11:hover, #Ellipse_16:hover, #Ellipse_17:hover{cursor: pointer;}
.footer-credits{ justify-content: flex-end;}
nav.expanded-menu ul li a:hover, nav.expanded-menu ul li a[aria-current]:hover{color:#f1f1f1!important;}
.logo-partner-svg{width: 106px;}
.mt-5{margin-top: 5%;}
.footer-widgets{width:100%;}
.footer-widgets .wpb_wrapper{text-align: center;}
.footer-widgets .wpb_wrapper .partner > span{text-align: left;}
.text-didascalia p{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  line-height: 22px;
  text-align:center;
  margin-top: -10%;
}


/********************************************************************************************************
////////////////////////////////////////////    MEDIA QUERIES   
*********************************************************************************************************/

/**************** regole mobile+tablet */
@media all and (max-width: 992px){
	#header-right{display: none;}

	/*********************************   FOOTER   ********************************/	
	/* regole colonne */
	.vc_col-xs-12{
		max-width: 100%;
		margin-bottom: 5%;
	}
	.cont-footer{display: block!important;}
	.footer-credits{display:block;}
	.copyright-testo{
		text-align: center;
    		padding-top: 15%;
	}
	/* bordo sotto puntinato (menù del footer) */
	/*.single-footer-2{
		border-bottom:2px dotted #FFED00;
	}*/
	/* footer - margini tolti alle liste */
	ul, ol {margin: 0 0 3rem 0;}
	li {margin: 0.5rem 0 0 0rem;}

	/* header */
	
	.menu-icon-mobile{
	height: 100%!important;
    	width: 100%!important;
	background-color: #EC6A1B;
	/*position: fixed!important;
	top: 0!important;
	right: 0!important;*/
	}
	.menu-icon-mobile .toggle-icon{
    		height: 100%;
    		width: 100%;
	}
	.menu-icon-mobile img{margin: 40% auto;}
	h1{    
		display: inline-block;
		text-align: left;
	}
	.title-main > .wpb_wrapper{text-align: left;}
	/*h1 .big-title-logo {font-size: 100px!important;}*/ /*big-title-logo non esiste più, è stato tolto*/
	.text-main > .wpb_wrapper p, .button-parallax-cont{margin-left: 30px; margin-right: 30px;}
	.scroll-down a{
		left: -20px;
		margin-left: 0!important;
	}
	#box1, #box2, #box3, #box4{margin-bottom:0;}
	.vc_custom_1579098538272 > .vc_col-sm-12, .vc_custom_1579098538272 > .vc_col-lg-3 vc_col-xs-12{margin-bottom:0;}
	.logo-text{
		color: #FFED00;
  		font-family: 'testo semibold';
		font-size: 70px;
  		line-height: 55px;
	}
	.toggle-inner{position:unset;}
	.toggle-inner .toggle-text{top:0; right:0;}
	
}

@media all and (max-width: 768px){
	#comunicazione-paragrafo {margin-top: 2rem;}
	.header-logo img{max-width:35%;}
}



/**************** Riga gialla brwd identity */
@media all and (max-width: 1310px) {
  #site-content .vertical-dot {
    left: 25px;
	}
}

/**************** loghi footer che non vanno a capo */
@media all and (max-width: 470px){
  .partner{
    width:100%;
    margin-top: 5%;
  }
  .partner:first-child{margin-top: 0;}
  
  .partner img {
    max-width: 28%;
	}
}

@media all and (min-width: 992px) and (max-width:1310px){
	.scroll-down a{
		left: -20px;
		margin-left: 0!important;
	}
}

@media all and (min-width: 700px){
	.nav-toggle{right:0;}
}

@media all and (max-width: 425px){
	.nav-toggle{width:16%;}
	.header-inner {padding: 3% 0;}
	/*.page-id-21 .big-title-logo{line-height: 100px!important;}*/ /*big-title-logo non esiste più, è stato tolto*/

	.page-id-21 .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner{padding-top:0!important; margin-top:-70px;}
	
	.page-id-21 #site-content .scroll-down a{margin-top:105px;}
}
@media all and (min-width: 426px) and (max-width: 768px){
	.nav-toggle{width:12%;}
}
@media all and (min-width: 426px) and (max-width: 992px){
	.nav-toggle{width:12%;}
	.header-inner {padding: 2% 0;}

}
@media all and (min-width: 993px){
	.header-inner{padding: 1%;}
  .page-id-21 .title-main h1 {margin-left: 0;}

}

/**************** media-queries mappa homepage */

@media all and (max-width: 400px){
	.vc_custom_1579098538272{
	    overflow-x: auto;
	    overflow: scroll;
	    display: flex;
	    align-items: center;
	    margin-left: -30px!important;
	}

	#box1, #box2, #box3, #box4{
		height: 160px;
	    	width: 260px;
	}
}

@media all and (min-width: 401px) and (max-width: 800px){
	.vc_custom_1579098538272{
	    overflow-x: auto;
	    overflow: scroll;
	    display: flex;
	    align-items: center;
	    margin-left: -30px!important;
	}

	#box1, #box2, #box3, #box4{
		height: 160px;
	    	width: 340px;
	}
}

@media all and (min-width: 801px) and (max-width: 1199px){
	.vc_custom_1579098538272{
	    overflow-x: auto;
	    overflow: scroll;
	    display: flex;
	    align-items: center;
	    margin-left: -30px!important;
	}

	#box1, #box2, #box3, #box4{
		height: 160px;
	    	width: 650px;
	}
}

@media all and (min-width: 1000px){
	#site-header .header-titles-wrapper img{max-width: 80%!important;}
	.page-id-21 header.darkHeader{height: 10%!important;}
	.page-id-21 .header-titles-wrapper{margin-top: -1.5%!important;}
	.page-id-21 .header-logo img{width: 25%!important;}
}

/*media query sticky header*/
@media all and (max-width: 320px){
	body:not(.page-id-21) .header-inner{height: 51px;}
	body:not(.page-id-21) .header-logo{
		justify-content: flex-end;
		margin-top: -5%;	
		}
	body:not(.page-id-21) .header-logo img{max-width: 56%;}
	
	.vc_custom_1579016594301 .vc_btn3.vc_btn3-size-lg.vc_btn3-style-outline{
		    padding-left: 10px!important;
    		    padding-right: 10px!important;	
	}
	
}
@media all and (min-width: 321px) and (max-width: 375px){
	body:not(.page-id-21) .header-inner{height: 60px;}
	body:not(.page-id-21) .header-logo{
		margin-top: -5%;
		margin-left: 20%;	
	}
	body:not(.page-id-21) .header-logo img{max-width: 65%;}
}
@media all and (min-width: 321px) and (max-width: 414px){
	body:not(.page-id-21) .header-inner{height: 66px;}
	body:not(.page-id-21) .header-logo{
		margin-top: -6%;
		margin-left: 15%;	
	}
	body:not(.page-id-21) .header-logo img{max-width: 80%;}
}
@media all and (min-width: 415px) and (max-width: 999px){
	body:not(.page-id-21) .header-inner{height: 92px;}
	body:not(.page-id-21) .header-logo{
		margin-top: -4%;
		margin-left: 0;	
	}
	body:not(.page-id-21) .header-logo img{max-width: 100%;}
}
@media all and (min-width: 1000px){
	body:not(.page-id-21) .header-inner{height: 80px;}
	/*.header-logo{
		margin-top: -4%;
		margin-left: 0;	
	}
	.header-logo img{max-width: 100%;}*/
	body:not(.page-id-21) #header-right{margin-top:1%;}
}

@media all and (max-width: 751px){
  .comune-firenze{margin-top: 0px;}
}
@media all and (min-width: 752px){
  .comune-firenze{margin-top: 27px!important;}
}    

/*media query h1*/ 
@media all and (max-width: 375px){
  .page-id-21 .title-main h1{
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
  }
}

@media all and (min-width: 376px) and (max-width: 414px){
  .page-id-21 .title-main h1{
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 35px;
  }
}

@media all and (min-width: 415px) and (max-width: 999px){
  .page-id-21 .title-main h1{
  font-size: 115px;
  line-height: 115px;
  margin-bottom: 35px;
  }
}
