 d*{
    padding: 0;
    margin: 0;
}

html{ min-height: 100%;}
body, #c-img-sfondo {
    min-height: 100vh;
}

/******************************************
***              FONT                  ***
******************************************/

@font-face {
    font-family: font-Bold; /*è questo il peso giusto del font, il nome del file è sbagliato*/
    src: url(../font/TESTOLogofont-Regular.ttf);
}

@font-face {
    font-family: font-ItalicBold; /*è questo il peso giusto del font, il nome del file è sbagliato*/
    src: url(../font/TESTOLogofont-Italic.ttf);
}

@font-face {
    font-family: font-Regular; /*è questo il peso giusto del font, il nome del file è sbagliato*/
    src: url(../font/TESTOLogofont-SemiBold.ttf);
}


/******************************************
***              GENERALI               ***
******************************************/

.c-width-100{width: 100%;}
.c-margin-top-footer{margin-top: 20%;}
.c-padding-left-5perc{padding-left: 5%;}
.c-padding-top-container{padding-top: 10%;}

.c-margin-top-20{margin-top: 20px;}
.c-margin-top-40{margin-top: 40px;}
.c-margin-bottom-70{margin-bottom: 70px;}
.c-padding-top-bottom-5{padding: 5px 0;}

@media only screen and  (min-width: 991px) and (max-width: 1199px){
    /*.c-margin-top-footer{margin-top: 130px;}*/
}

@media only screen and  (min-width: 768px) and (max-width: 990px){
    /*.c-margin-top-footer{margin-top: 270px;}*/
}

@media only screen and (min-width: 1441px){
	.c-padding-top-container{padding-top: 5%;}
}

@media only screen and (max-width: 1440px) and (min-width: 1200px){
	.c-padding-top-container{padding-top: 10%;}
}

@media only screen and (max-width: 1199px) and (min-width: 769px){
	.c-padding-top-container{padding-top: 15%;}
}

@media only screen and (max-width: 768px) {
	.c-padding-top-container{padding-top: 10%;}
}

/*****************************************/


/******************************************
***              TESTO                  ***
******************************************/

p{
    font-family: font-Bold;
    margin-bottom: 0.25rem!important;
}

.copyright{
    font-family: font-Regular;
    color: #000;
    font-size: 2.5vw;
    text-align: center;
}

.copyright a{ color: #000;}

@media only screen and  (max-width: 425px){
    p{font-size: 3.5vw;}
    .copyright{font-size: 3vw;}
    .c-padding-left-5perc{padding-left: 10%;}
}

@media only screen and  (min-width: 426px) and (max-width: 900px){
    p{font-size: 1.8vw;}
    .copyright{font-size: 1.3vw;}
}

@media only screen and  (min-width: 901px) and (max-width: 1440px){
    p{font-size: 1.5vw;}
    .copyright{font-size: 1vw;}
}

@media only screen and  (min-width: 1441px){
    p{font-size: 1.3vw;}
    .copyright{font-size: 0.9vw;}
}
/*****************************************/


/******************************************
***              COLORI                 ***
******************************************/

.c-text-black{ color: #000000;}
.c-text-grey{ color: #7D7D7D;}
/* giallo della scritta della gif #fef11a */
/*****************************************/


/******************************************
***              LINKS                  ***
******************************************/

a{
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.4s
}

a:hover{
    text-decoration: none!important;
    color: #7D7D7D!important;
}
/*****************************************/

#c-img-sfondo{
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: fixed;
    top: 0; left: 0;
    z-index: -1;*/
    background-image: url("../img/background-nero-righe-quadretti.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.c-black-bar{
    background-color: #000;
}


/******************************************
***              MEDIA QUERY            ***
******************************************/

@media only screen and  (max-width: 768px) {
    .c-hide-on-mobile{
        display: none;
    }
}
/******************************************/
